#upcoming-events {
  margin-top: 6px;
  padding: 10px 0 20px;
  background: rgba(251, 248, 248, .99);
  position: relative;
  .events-labels {
    padding: 0 0 6px 20px;
    .upcoming-label {
      font-size: 20px;
      color: #28659C;
      font-family: "Montserrat Bold";
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  .events-area {
    width: calc(100% - 40px);
    @media (max-width: 767px) {
      width: calc(100% - 20px);
    }
    .events-timeline {
      height: 8px;
      .events-linebody {
        float: left;
        background: #28659C;
        height: 4px;
        margin-top: 2px;
        width: calc(100% - 6px);
      }
      .events-point {
        margin-left: 2px;
        width: 4px;
        height: 100%;
        background: #28659C;
        float: left;
      }
    }
  }
  #upcoming-events-line {
    margin: 4px 0px 0px 20px;
    width: calc(100% - 5px);
    height: 75px;
    position: relative;
    display: flex;
    @media(max-width: 767px) {
      margin: 4px 0 0 5px;
      width: 100%;
    }
    .ScrollbarsCustom {
      overflow: hidden;
      .ScrollbarsCustom-Content {
        display: flex;
      }
      .ScrollbarsCustom-TrackX {
        width: 100%;
        left: 0 !important;
      }
    }
    .event-box {
      background: #FBF8F8;
      border: 2px solid #28659C;
      color: #28659C;
      width: 60px;
      height: 40px;
      line-height: 1;
      box-sizing: border-box;
      margin-top: 14px;
      text-transform: uppercase;
      margin-right: 80px;
      flex-shrink: 0;
      cursor: pointer;
      &:before {
        content: '';
        background-color: #28659C;
        width: 2px;
        height: 14px;
        display: block;
        margin: -16px 0px 0px 25px;
      }
      h5 {
        margin-top: 8px;
        margin-bottom: 0;
        text-align: center;
        font-size: 12px;
      }
    }
    .event-opened {
      background-color: #FBF8F8;
      color: #28659C;
      border: 1px solid #28659C;
      height: 100%;
      width: calc(100% - 15px);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Montserrat";
      font-weight: bold;
      text-transform: uppercase;
      @media(max-width: 767px) {
        width: 100%;
      }
      .date-box {
        border: 1px solid #28659C;
        height: 37px;
        font-size: 12px;
        width: 70px;
        height: 50px;
        line-height: 1;
        box-sizing: border-box;
        margin-left: 40px;
        display: flex;
        @media(max-width: 767px) {
          margin-left: 10px;
          font-size: 10px;
          width: 50px;
          height: 40px;
        }
        .date {
          margin: auto;
          text-align: center;
        }
      }
      .event-text {
        margin: 0;
        max-width: 50%;
        text-align: center;
        background: rgba(251, 248, 248, 0.99);
        @media(max-width: 991px) {
          font-size: 11px;
        }
      }
      .event-close {
        width: 100px;
        height: 100%;
        background-image: url(./assets/images/close.svg);
        background-color: #28659C;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: none;
        outline: none;
        background-size: 35px 35px;
        cursor: pointer;
        @media(max-width: 767px) {
          width: 50px;
        }
      }
    }
  }
}