#graph-container {
  width: auto;
  flex-grow: 1;
  background: rgba(255,255,255,.9);
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "graph legend";
  .chart-header {
    height: 52px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    grid-area: header;
    .chance {
      padding-left: 80px;
      font-family: "Montserrat Bold";
      color: #28659C;
      margin: 0!important;
      &:before {
        content: "";
        position: absolute;
        left: 20px;
        height: 22px;
        width: 42px;
        background: url(./assets/images/chart_icon.svg) no-repeat;
      }
    }
  }
  #graph {
    padding: 50px 0 20px 20px;
    grid-area: graph;
    g.segment {
      circle {
        stroke-width: 4 !important;
        stroke: rgba(0, 0, 0, .4) !important;
        fill: rgba(255, 255, 255, .9) !important;
        fill-opacity: 1;
      }
    }
    .tooltip {
      font-family: "Montserrat";
      font-size: 12px;
      color: #28659C;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
      .tooltip-inside {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        padding: 22px;
        position: relative;
        top: 0;
        background: #fff;
      }
      &:after {
        content: "";
        background: #fff;
        height: 22px;
        width: 22px;
        position: absolute;
        bottom: -11px;
        left: calc(50% - 11px);
        transform: rotate(45deg);
        z-index: -1;
        box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.16);
      }
      p {
        margin: 0;
      }
      .chance {
        font-family: "Montserrat Bold";
        color: #E92C31;
      }
    }
    .grid {
      .domain {
        display: none;
      }
      .tick {
        line {
          stroke: rgba(227, 227, 227, .96);
        }
        fill-opacity: 1;
        text {
          font-family: "Montserrat Bold";
          color: #9A9A9A;
          font-size: 12px;
        }
      }
    }
  }
  #legend {
    padding-top: 50px;
    padding-right: 50px;
    grid-area: legend;
    font-family: "Montserrat";
    font-size: 12px;
    color: #28659C;
    .legendElement {
      display: grid;
      grid-template-columns: auto 31px;
      justify-content: space-between;
      grid-template-areas:
        "name chance";
      padding-bottom: 5px;
      .legendElementChance {
        font-family: "Montserrat Bold";
        color: #E92C31;
      }
    }
  }
}