#root {
  background: #EBE8EA url(./assets/images/us_elections_background_new.jpg) no-repeat;
  background-size: cover;
  height: auto;
  .App.container {
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}