.graph-sidebar {
  width: 200px;
  background: rgba(255,255,255,.99);
  margin-right: 6px;
  position: relative;
  .candidates {
    visibility: visible;
    overflow: hidden;
    position: relative;
    left: 0px;
    height: 616px;
    padding: 5px 0px 0px 0px;
    .slick-list {
      height: 100% !important;
    }
    @media (max-width: 1200px) {
      height: 168px;
      float: left;
      padding-top: 2px;
      grid-area: slider;
      .slick-track {
        height: 168px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }
  .cand-label {
    height: 52px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    margin-bottom: 6px;
    z-index: 9999999;
    h4 {
      font-family: "Montserrat Bold" !important;
      color: #28659C;
      font-size: 12px;
      line-height: 1;
      margin: 0;
      text-align: center;
    }
    @media (max-width: 1200px) {
      width: 100%;
      height: 52px;
      float: left;
      margin-bottom: 0;
      grid-area: label;
    }
  }
  .slider-arrow {
    height: 40px;
    width: 100%;
    cursor: pointer;
    &.cand-prev {
      background: #E92C31 url('./assets/images/up.svg') no-repeat;
      background-position: center center;
      @media (max-width: 1200px) {
        grid-area: prev;
        transform: rotate(-90deg);
        left: -58px;
      }
    }
    &.cand-next {
      background: #E92C31 url('./assets/images/down.svg') no-repeat;
      background-position: center center;
      @media (max-width: 1200px) {
        transform: rotate(-90deg);
        right: -58px;
        grid-area: next;
      }
    }
    @media (max-width: 1200px) {
      width: 168px;
      height: 52px;
      position: absolute;
      bottom: 58px;
      z-index: 999;
    }
  }
  .slick-track {
    .slick-slide {
      border-bottom: 1px solid #fff;
    }
  }
  .candidates-group {
    outline: none;
  }
  .cand-view {
    padding-left: 20px;
    height: auto;
    position: relative;
    outline: none;
    margin-bottom: 1px;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      background: #28659C !important;
      font-family: "Montserrat Bold";
      .cand-main {
        .cand-name {
          color: #fff;
        }
      }
    }
    .cand-main {
      display: flex;
      align-items: center;
      height: 32px;
      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
          width: 19px;
          height: 19px;
          border-radius: 50%;
          border: 1px solid #28659C;
        }
        svg {
          position: absolute;
          height: 12px;
          width: 12px;
        }
      }
      .cand-name {
        line-height: 12px;
        font-size: 12px;
        color: #28659C;
        font-family: 'Montserrat';
        font-weight: bold;
        padding-left: 10px;
      }
      .marker {
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  @media (max-width: 1200px) {
    height: 220px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 6px;
    display: grid;
    grid-template-areas:
      "label label label"
      "prev slider next";
    grid-template-columns: 52px auto 52px;
  }
}